.head1{
    font-size: 28px;
    text-align: center;
    font-family: "Noto Serif", "sans-serif";
    font-weight: 600;
    height: auto;
    width: 40%;
    padding: 10px;
    margin: 10px 30%;
    margin-top: 0;
    border-radius: 40px;
    background-color: #ff99ff;
    color: #6009ad;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-family: "Noto Serif", "sans-serif";
    font-weight: 600;
}

.form-group{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.head3{
    font-size: 24px;
    text-align: center;
    font-family: "Noto Serif", "sans-serif";
    font-weight: 600;
    height: auto;
    width: 30%;
    padding: 10px;
    margin: 0 35%;
    border-radius: 40px;
    color: #ff99ff;
}

.form-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #0099FF;
    margin: 10px;
}

.specs-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin:20px;
    margin-top: 0;
    padding: 10px;
    border-radius: 40px;
}

.form-checkbox-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

label{
    font-size: 18px;
    font-family: "Noto Serif", "sans-serif";
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
}

input{
    border-radius: 20px;
    border: none;
    color: black;
    height: 35px;
    width: 170px;
    font-family: "Noto Serif", "sans-serif";
    font-weight: 600;
    text-align: center;
    background-color: yellow;
}

select{
    border-radius: 20px;
    border: none;
    color: black;
    height: 35px;
    width: 171px;
    font-family: "Noto Serif", "sans-serif";
    font-weight: 600;
    text-align: center;
    background-color: yellow;
}

textarea{
    border-radius: 20px;
    border: none;
    color: black;
    height: 35px;
    font-family: "Noto Serif", "sans-serif";
    font-weight: 600;
    text-align: center;
    background-color: yellow;
}

.checkbox{
    size: 18px;
}

.cancel-btn, .submit-btn{
    color: #fffb00;
    font-weight: bold;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    max-width: auto;
    margin: 0 5px;
    margin-top: 10px;
    gap: 8px;
    background: none;
    font-family: "Noto Serif", "sans-serif";
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border: none;
    cursor: pointer;
}

.cancel-btn:hover, .submit-btn:hover{
    background-color: #fffb00;
    color: #ffa600;
}