.home-container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  gap: inherit
}

h1{
  background-color: #FF99FF;
  text-align: center;
  color: purple;
  font-family: "Noto Serif", "sans-serif";
  font-size: 2.5em;
  margin-top: 0;
  padding: 20px;
}

.s1 {
  grid-row: 2;
  grid-column: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 20%;
  height: 40%;
  margin: 15% auto;
  background-color: gray;
}

.s2 {
  grid-row: 2;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 20%;
  height: 40%;
  margin: 15% auto;
  background-color: gray;
}

.fav-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.fav-item{
  
}

footer {
  grid-row: 3;
  grid-column: 1 / 2;
  background-color: gray;
  color: white;
  text-align: center;
  align-items: bottom;
  padding: 20px;
  bottom: 0;
  width: 100%;
}